// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


@import "/resources/sass/index.scss";
@import "/resources/sass/show.scss";
@import "/resources/sass/create.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

body{
    height: 100vh;
}

a{
    text-decoration: none;
    color: currentColor;
    display: contents;
}